@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassIco-wrapper {
  overflow: hidden;

}

.glassIco {
  &,
  & * {
    box-sizing: border-box;
    transition: 200ms;
  }

  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  @include flex-center;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(0px);
    transition: 400ms;
    transform: skewX(45deg) translateX(280%);
  }

  &:hover {
    transform: translateY(-20px);
    &:before {
      transform: skewX(45deg) translateX(-150%);
    }
  }

  & > * {
    opacity: 0.8;
  }
}
